<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container">
        <h1 style="font-size: 40px; color: red; border-bottom: 2px solid gray; padding: 10px; margin-bottom: 40px; font-family: monospace">Here is your change</h1>
        <h1>Quarters: {{ results["quarters"] }}</h1>
        <h1>Dimes: {{ results["dimes"] }}</h1>
        <h1>Nickels:{{ results["nickels"] }}</h1>
        <h1>Pennies: {{ results["pennies"] }}</h1>

    </div>
</body>
</html>
